---
// import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'

export const prerender = true

// import Substats from '@/components/about/Substats.astro'
// import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'who-am-i', text: 'Who am I?' },
  { depth: 2, slug: 'content-ecosystem', text: 'Content Ecosystem' },
  { depth: 2, slug: 'social-media', text: 'Social Media Links' },
  { depth: 2, slug: 'credits', text: 'Credits' }
]
---

<PageLayout title='About' {headings}>
  <span>
    This is the About Page of the Official Website of the Shashi KS YouTube Channel, where you can
    read blogs, access my test packages and do even more!
  </span>
  <h2 class='text-lg font-medium' id='who-am-i'>Who am I?</h2>
  <span>
    I am Shashikala, an educational content creator who puts videos on topics like Python, Java,
    CNS, Operating Systems, and lots more.
  </span>
  <span>
    We also publish videos regarding specific competitive examinations and update about them
    regularly.
  </span>
  <span>
    I created this website to connect with you all and also increase our versatility in providing
    content.
  </span>
  <h2 class='text-lg font-medium' id='content-ecosystem'>
    Here's a magnified view of the many topics on which I post content:
  </h2>
  <ul>
    <li>
      Content on Operating Systems, C Programming, Java &amp; J2EE, Data Structures, Compiler
      Design, System Software, etc.
    </li>
    <li>Content on useful software applications</li>
    <li>
      Preparatory Materials, Solved Question Papers for GATE, TRB, UGC NET, PGTRB, PGT CS Exam.
    </li>
    <li>Important and Reliable Educational updates/Social Awareness Content.</li>
  </ul>
  <h2 class='text-lg font-medium' id='social-media'>Social Media Links</h2>
  <span>
    Check the <a href='/links'>Links</a> page.
  </span>
  <!--
    <span>
    <Substats
      stats={[
        {
          platform: 'YouTube',
          icon: 'youtube',
          color: '#2ca5e0',
          link: 'https://www.youtube.com/@ShashiKS',
          text: 'subscribers',
          api: 'youtube/UCYTShEnB7tKh4s0f071edyQ'
        },
        {
          platform: 'Telegram Group',
          icon: 'telegram',
          color: '#7DF9FF',
          link: 'https://t.me/+RuhcnuYIADplYjI1',
          text: 'members',
          api: 'telegram/shashiks'
        },
        {
          platform: 'Telegram Channel',
          icon: 'telegram',
          color: '#33A8E5',
          link: 'https://t.me/shashikschannel',
          text: 'subscribers',
          api: 'telegram/shashiks'
        }
      ]}
    />
  </span>
-->
  <h2 class='text-lg font-medium' id='credits'>Credits</h2>
  <span>
    This website is based on the <a href='https://github.com/cworld1/astro-theme-pure'
      >Astro Theme Pure</a
    > template.
  </span>

  <!--
  <span>Developer / Designer</span>
  <span>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio
    possit voluptatum.
  </span>
  <span>
    Motto: Stay hungry, Stay foolish. <Spoiler>这里可以夹私货，比如为什么要演奏春日影！</Spoiler>
  </span>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, vidit suscipit at mei.</li>
    <li>
      Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod
      voluptua ne.
    </li>
    <li>Ex dicat impedit mel, at eum oratio possit voluptatum.</li>
    <li>Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.</li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <span>Current support tools as follow:</span>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      },
      {
        name: 'Illustrator',
        description: 'Vector Drawing',
        href: 'https://www.adobe.com/products/illustrator',
        icon: import('@/assets/tools/illustrator.svg?raw')
      },
      {
        name: 'After Effects',
        description: 'Motion Graphics',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: import('@/assets/tools/aftereffects.svg?raw')
      },
      {
        name: 'Premiere Pro',
        description: 'Video Editing',
        href: 'https://www.adobe.com/products/premiere',
        icon: import('@/assets/tools/premiere.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Browser',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'Firefox',
        description: 'Browser',
        href: 'https://www.mozilla.org/en-US/firefox',
        icon: import('@/assets/tools/firefox.svg?raw')
      },
      {
        name: 'Notion',
        description: 'Note Taking',
        href: 'https://www.notion.so/',
        icon: import('@/assets/tools/notion.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Neovim',
        description: 'IDE',
        href: 'https://neovim.io/',
        icon: import('@/assets/tools/neovim.svg?raw')
      },
      {
        name: 'Sublime Text',
        description: 'IDE',
        href: 'https://www.sublimetext.com/',
        icon: import('@/assets/tools/sublime.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux',
        description: 'Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'MacOS Tahoe',
        description: 'MacBook Air',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'Framework Laptop 16',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <span>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne.
  </span>
  <Substats
    stats={[
      {
        platform: 'YouTube',
        icon: 'youtube',
        link: 'https://www.youtube.com/@ShashiKS',
        text: 'subscribers',
        api: 'youtube/UCYTShEnB7tKh4s0f071edyQ'
      },
      {
        platform: 'Telegram',
        icon: 'telegram',
        color: '#2ca5e0',
        link: 'https://t.me/+RuhcnuYIADplYjI1',
        text: 'subscribers',
        api: 'telegram/cworld0_cn'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/id/cworld',
        text: 'games',
        api: 'steamgames/76561199021278120'
      }
    ]}
  />

  {/* gossips */}
  <h2 id='gossips'>Gossips</h2>
  <Collapse title='Lorem ipsum'>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio
    possit voluptatum.
  </Collapse>

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <span>Website history:</span>
  <Timeline
    events={[
      {
        date: '2024-04-29',
        content:
          'Website refactored using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a>'
      },
      {
        date: '2024-07-26',
        content:
          'Website abstracted as a theme and published on <a href="https://github.com/cworld1/astro-theme-pure"target="_blank">Github</a>'
      },
      {
        date: '2024-07-27',
        content: 'Began writing website docs'
      }
    ]}
  />
  <span>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </span>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul> -->
</PageLayout>
